/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  color: #00124E;
  font-family: 'Raleway', sans-serif;
  background: #00124E;
  font-size: 20px;
  line-height: 1.35;
}

#wrapper {
  background: #fff;
  width: 650px;
  margin: 0 auto;
  padding: 50px;
  height: 100%;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.75em;
}
h2 {
  font-size: 2em;
  margin-bottom: .5em;
  border-bottom: 1px solid #00124E;
}
h2.no_hr {
  border-bottom: none;
}
p {
  margin-bottom: .5em;
}
form {
  margin-bottom: 1em;
}
label {
  font-weight: bold;
  margin-right: 10px;
}
input[type="text"] {
  margin-right: 10px;
}
.ss-form-question {
  margin-bottom: 1em;
}
.ss-form-question input[type="text"] {
  width: 50%;
}
ul.ss-choices {
  list-style-type: none;
  margin-top: -20px;
}
.ss-form-question textarea {
  width: 50%;
}

.index img {
  float: right;
  margin-bottom: 1em;
}
.index h1 {
  font-size: 3.3em;
  padding-top: 0.6em;
}
.index #content {
  clear: right;
}
.not_found img {
  border: 1px solid #aaa;
}